/* comment */

/* changes the background color */
body {
  /*background-color: green;*/
  opacity: 0.9;
  background-image: url(https://img.freepik.com/free-photo/3d-geometric-abstract-background_1048-16070.jpg?w=1380&t=st=1708953396~exp=1708953996~hmac=b1b14b41717f025ad9f3b1f20d2496a0ff19c86ef9834e5f4bdcca6eef3a30ed);
  background-position: right top;
}

#welcome{
  background-color: aliceblue;
  color: #888888;
  margin-left: 50px;
  margin-top: 50px;
  border-style: dotted;
  border-width: 2px;
  border-color: crimson midnightblue;
}

p.heading, h1.heading{
  background-color: aqua;
  color: black;
}

* {
  color: brown;
}

.inherit2 {
  margin-left: 50px;
}

.inherit {
  margin-left: inherit;
  border-left: 10px dashed purple
}

.custom {
  margin-left: 10px;
  background-color: darkorange;
  font-size: 50px;
  border: 2px solid hotpink;
  border-radius: 10px;
  padding: 5px;
}

